


header{
    text-align: center;
    background-image: url("BGcssBanner.png");
    
}
nav{
    background-color: tomato;
    width: 150px;
    height: 450px;
    float: left;
}
section{
    background-color:rgb(226, 157, 28);
    margin-left: 150px;
    height: 100%;
    padding-left: 0.5cm;
}


footer{
    background-color: black;
    color: beige;
    font-weight: bolder;
    padding: 10px;
}



hr{
    height: 1em;
    background-color: mediumvioletred;
    width: 90%;
}
p#direction {
    direction : rtl;
}


nav ul li {
list-style: none;
background-color:olivedrab;
margin-left: -0.5cm;
padding-left: 0.5cm;
margin-bottom: 5px;

}

h1 {
color : red;
text-align : center;
}

h2 {
color:blue;

}
#police_arial{
font-family: Arial;
}
#police_Georgia{
font-family: Georgia;
}

#fhaut{
width: 1cm;
height: 1cm;
border-radius: 50%;
}

#fhaut:hover{
border: solid 2px brown;
}

#style_soulignebas{
text-decoration:solid red;

}

.code_css {
background-color : yellow;
font-family : "courier new";
font-size : 0.9em;
text-align: left;
}
.code_html {
font-family : "courier new";
font-size : 0.8em;
}

p#taille_absolue{
font-size : 16px;
}

div.carre {
width:100px;
height:100px;
border:solid 1px;
border-radius:10px;
padding:5px;
margin: 2px;
text-align:center;
display:inline-block;
font-size:0.8em;
font-family:Arial, Helvetica, sans-serif;
}
#ombre_texte{
text-shadow: rgb(32, 139, 0) 2px 5px;
}
#ombre_boite{
box-shadow: darkorchid 5px 10px;
}




